<!--comment-->
*{
margin:0px;
}
a{
	text-decoration:none;
	color:white;
}
header{
	border:2px solid;
height:200px;
background-color:blue;
}
header #company_logo{
	}
header img{
	margin:5px;
	width:10%;
	height:150px;
	background-color:red;
}
header h1{
	position:relative;
	top:-100px;
	left:15%;
	width:80%;
	text-align:center;
	font-size:60px;
	color:white;
}
nav{
	position:sticky;
	top:0px;
	z-index:2;
	width:100%;
	background-color:red;
}
nav ul{
	text-align:right;
	padding:10px;
}
nav ul li{
	margin:30px;
	display:inline;
}
nav ul li a{
	background-color:green;
	font-size:14px;
	color:white;
	padding:5px;
}
nav ul li a:hover{
	border-radius:20px;
	background-color:yellow;
	font-size:16px;
}
section{
	position:relative;
	width:90%;

}
aside{
	position:relative;
	z-index:-8;
	bottom:90px;
	float:right;
	height:900px;
	width:10%;
	background-color:gray;
	
}
address{
	width:100%;
	position:fixed;
	bottom:40px;
	padding:10px 30px;
	background-color:grey;
}
footer{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color:blue;
	color:white;
	padding:2px;
}